.card-item {

    background: #fff;
    float: left;
    width: calc(33.3333333% - 4.8rem / 3);
    margin-right: 2.4rem;
    padding: 1.6rem;
    margin-bottom: 2.4rem;
    cursor: pointer;
    transition: $transition;
    
    &:hover {
        opacity: $opacity;
    }

    &__head {
        margin-bottom: 1.6rem;
    }

    p {
        color: $text-grey;
        font-weight: bold;
    }

    &__title {
        font-size: 2rem;
        padding-bottom: 1.6rem;
    }

    &__text {
        line-height: 1.35;
    }

    @include mq('pc') {

        &:nth-child(3n) {

            margin-right: 0;
    
        }
    
        &:nth-child(n + 4) {
            margin-bottom: 0;
        }

    }

    @include mq('tab') {

        width: calc(50% - 1.2rem);
        margin-right: 2.4rem;

        &:nth-child(even) {

            margin-right: 0;

        }

    }

    @include mq('sp') {

        float: none;
        width: 100%;
        margin-right: 0;

    }

}