.footer-nav {

    &__menu {

        display: flex;
        justify-content: space-between;

    }

    &__item {

        margin-right: 40px;

    }

    &__link {

        color: white;
        font-size: 1.6rem;
        font-family: $ff-en;

    }

    @include mq('tab') {

        &__menu {

            display: block;
            text-align: center;

        }

        &__item {

            margin-right: 0;
            padding-bottom: 1.6rem;

        }

    }

}