.global-nav {

    background: $main;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0 1.6rem;

    &__inner {

        display: flex;
        justify-content: space-between;

    }

    &__link {
        color: #fff;
        display: block;
        text-transform: capitalize;
        position: relative;
        font-family: $ff-en;

        &::before {
            transition: $transition;
            content: '';
            opacity: 0;
            display: block;
            position: absolute;
            background: $red;
            width: 100%;
            height: 3px;
            top: 63%;
            left: 50%;
            transform: translateX(-50%);
        }

        &:hover {

            &::before {

                opacity: 1;
        
            }

        }

    }

    &__item {
        padding-right: 4rem;
        line-height: 100px;
    }

    .header-logo {
        margin-top: 3rem;
        transition: $transition;
        
        &:hover {
            opacity: $opacity;
        }

        .img-box {
            display: block;
            width: 20.5rem;
            height: 4rem;
        }
    }

    @include mq('tab') {

        &__link {

            &::before {
                display: none;
            }

        }

    }


}