.global-nav {

    background: $main;
    position: sticky;
    top: 0;
    z-index: 10;

    &__inner {

        display: flex;
        justify-content: space-between;

    }

    &__link {
        color: #fff;
        display: block;
        text-transform: capitalize;
    }

    &__item {
        padding-right: 4rem;
        line-height: 100px;
    }

    .header-logo {
        margin-top: 3rem;

        .img-box {
            display: block;
            width: 20.5rem;
            height: 4rem;
        }
    }


}