.header {
  background-image: url("../images/mainvisual.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 60rem;
}

.header__inner {
  padding: 184px 0;
  text-align: center;
}

.header .top-title {
  margin-bottom: 3.2rem;
}

.header .lead-message {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  font-weight: bold;
}

.header .cta-btn {
  padding: 1.8rem 12rem;
  font-size: 2.4rem;
}
