.header {
    // background-image: url('../images/mainvisual.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 60rem;

    &__inner {
        padding: 184px 0;
        text-align: center;
    }

    .top-title {
        margin-bottom: 3.2rem;
    }

    .lead-message {
        margin-bottom: 4rem;
        font-size: 2.4rem;
        font-weight: bold;
    }

    .cta-btn {
        padding: 1.8rem 12rem;
        font-size: 2.4rem;
        border-radius: $bdr-8;
        font-weight: bold;
        transition: $transition;
        
        &:hover {
            opacity: $opacity;
        }

    }

    @include mq('tab') {

        .top-title {

            font-size: 4.8rem;

        }

        .cta-btn {

            padding: 1.4rem 8rem;
            font-size: 2rem;

        }

    }

    @include mq('sp') {

        &__inner {

            padding: 184px 1.6rem;

        }

        .top-title {

            text-align: left;

        }

    }

}