.price {
    background: $bg-grey;
    padding: 0 1.6rem;

    .content {
        display: flex;
        justify-content: space-between;
    }

    &__img {

        width: 454px;
        margin-right: 4rem;

    }

    .table {
        width: 706px;
    }

    &__table {
        border-collapse: collapse;
        background: #fff;
        width: 100%;
        margin-bottom: 1.2rem;
        table-layout: fixed;
    }

    th {
        &:first-child {

            width: 17rem;

        }
    }

    tr {
        height: 5.6rem;
    }

    th, td {
        border: $border;
        max-height: 5.6rem;
        vertical-align: middle;
    }

    .desc {
        display: block;
        font-size: 1.3rem;
    }
    
    td {
        text-align: right;
        line-height: 1;
        padding-right: 1.6rem;
        font-weight: bold;
    }

    .tac {
        text-align: center;
        padding: 2rem 1.6rem;
    }

    .bg-grey {
        background: #707070;
        color: #fff;
    }

    .text-red {
        color: $red;
    }

    .desc {
        display: block;
    }

    .contact-link {
        text-decoration: underline;
        font-weight: bold;
    }

    @include mq('tab') {

        .content {

            display: block;

        }

        &__img {

            margin: 0 auto 3.2rem;
            width: 60%;

        }

        .table {

            width: 100%;

        }

    }

    @include mq('sp') {

        &__img {

            width: 100%;

        }

        th {

            &:first-child {

                width: 10rem;

            }

        }

    }

}

.contact {

    background: $bg-grey;

    .contact-form {
        background: white;
    }

}