.price {
    background: $bg-grey;
    padding: 0 1.6rem;

    .content {
        display: flex;
    }

    &__img {
        width: 454px;
        margin-right: 4rem;
        height: 28.6rem;
    }

    &__table {
        border-collapse: collapse;
        width: 704px;
        background: white;
        text-align: right;
        font-weight: bold;
        margin-bottom: 1.2rem;
        table-layout: fixed;
    }

    th {
        &:first-child {

            width: 17rem;

        }
    }

    tr {
        height: 5.6rem;
    }

    th, td {
        border: $border;
        padding-right: 2.5rem;
        max-height: 5.6rem;
        vertical-align: middle;
    }

    .bg-grey {
        background: $table-bg;
        color: white;
        text-align: center;
        padding-right: 0;
    }

    .desc {
        display: block;
        font-size: 1.3rem;
    }

    .text-red {
        color: $red;
        padding: 0 2.5rem 0 0;
    }

    .contact-link {
        font-weight: bold;
        text-decoration: underline;
    }


}