$main: #3F51B5;
$red: #E81919;
$bg-grey: #EFEFEF;
$black: #333;
$text-grey: #6F7579;
$btn-grey: #666666;
$border: 1px solid #707070;

$layout-width-inner: 1200px;
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

$font-family: '游ゴシック体', 'sans-serif';

$bdr-8: 8px;
$bdr-4: 4px;