$main: #3F51B5;
$red: #E81919;
$bg-grey: #EFEFEF;
$black: #333;
$text-grey: #6F7579;
$btn-grey: #666666;
$border: 1px solid #707070;
$table-bg: #707070;
$footer1: #666;
$footer2: #333;
$twitter: #55ACEE;
$facebook: #3B5998;
$insta: #D93177;

$opacity: .7;

$layout-width-inner: 1200px;
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

$bdr-8: 8px;
$bdr-4: 4px;

$box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);

$transition: all .3s ease 0s;

//font family
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP&display=swap');
$ff-en: 'Lato', sans-serif;
$ff-normal: 'Noto Sans JP', sans-serif;

