@mixin btn($color: $main) {

    background: $color;
    color: #fff;
    display: inline-block;
    transition: $transition;
    box-shadow: $box-shadow;

    &:hover {
        opacity: $opacity;
    }

}